@import "_common";

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: #333333;
  margin: auto 0;
  background-color: #fdfcf1;
}

.inner {
  width: 100%;
  overflow: hidden;
}

.container{
  text-align: center;
  padding: 50px 0;

  h1{
    font-size: 3.6rem;
  }

  p{
    font-size: 2.6rem;
  }

  img{
    width: 85%;
    height: 550px;
  }
}

@media (max-width: 1180px) {
  // 1180px 以下以下で適応させる

  .container{ 
    h1{
      font-size: 2.8rem;
    }
  
    p{
      font-size: 2rem;
    }
  
    img{
      height: 500px;
    }
  }
}

@media (max-width: 768px) {
  // 768px 以下で適応させる
  .container{ 
    padding: 30px 0;
    h1{
      font-size: 2.4rem;
    }
  
    p{
      font-size: 1.6rem;
    }
  
    img{
      height: 250px;
    }
  }
}