html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: 'Noto Sans JP', sans-serif;
}

.container-fluid {
  overflow: hidden;
}

h1 {
  font-size: 6.8rem;
  font-weight: bold;
  color: #333333;
}

h2 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #333333;
}

.container-fluid>h2 {
  font-family: 'Lato', sans-serif;
}

/* START Nav */

header {
  background-color: #3F51B5;
  height: 100px;
  position: fixed;
  z-index: 2;
  // box-shadow: 0px 3px 3px #00000029 inset;
}

header .space-between {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

header img {
  height: 39px;
  width: 200px;
  position: relative;
  top: 31px;
}

.right .drawer-menu-item {
  display: inline-block;
  position: relative;
  margin-bottom: 1em;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.right .drawer-menu-item:first-of-type:hover::before {
  content: '';
  position: absolute;
  left: 69%;
  bottom: -5px;
  /*線の上下位置*/
  display: inline-block;
  width: 50%;
  /*線の長さ*/
  height: 3px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: red;
  /*線の色*/
}

.right .drawer-menu-item:hover::before {
  cursor: pointer;
  content: '';
  position: absolute;
  left: 69%;
  bottom: -5px;
  /*線の上下位置*/
  display: inline-block;
  width: 50%;
  /*線の長さ*/
  height: 3px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: red;
  /*線の色*/
}

.click_underbar::before {
  cursor: pointer;
  content: '';
  position: absolute;
  left: 69%;
  bottom: -5px;
  /*線の上下位置*/
  display: inline-block;
  width: 50%;
  /*線の長さ*/
  height: 3px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: red;
  /*線の色*/
}

.right .drawer-menu-item:nth-child(4):hover::before {
  left: 65%;
}

.right .drawer-menu-item:nth-child(5):hover::before {
  left: 65%;
}

header .drawer-menu-item {
  position: relative;
  top: 40px;
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
  color: #FFFFFF;
}

header .drawer-menu-item:hover {
  color: #FFFFFF;
}

/* END Nav */

/* START main */

main {
  /* background-image: url('../image/mainvisual.png'); */
  height: 700px;
  text-align: center;
  position: relative;
}

.swiper-slide {
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-button-prev, .swiper-button-next {
  width: 100px;
  height: 75px;
  margin-top: -16px;
}

.swiper-button-prev {
  background: url("../image/arrow-prev.png") no-repeat center center / contain;
  margin-left: 10%;
}

.swiper-button-next {
  background: url("../image/arrow-next.png") no-repeat center center / contain;
  margin-right: 10%;
}

main .main-text {
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

main .text-up {
  padding-bottom: 82px;
}

main .main-text h1 {
  padding-bottom: 12px;
}

main .main-text .btn {
  background-color: #3F51B5;
  border-radius: 12px;
  // box-shadow: 0px 3px 6px #00000029;
}

main .main-text .btn:hover {
  opacity: .7;
}

main .main-text h2:nth-child(1) {
  color: white;
  padding: 17px 81px;
}

/* END main */

/* START Card */

.card {
  text-align: center;
  background-color: #EFEFEF;
  height: auto;
  padding: 1% 10% 5%;
}

.card h2 {
  font-size: 6rem;
  padding-top: 6.8rem;
  display: inline-block;
  position: relative;
  margin-bottom: 11.3rem;
}

.card h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4.43rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 60px;
  /*下線の幅*/
  height: 4px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.card .row {
  display: flex;
  justify-content: space-between;
}

.card .card-items {
  border-radius: 5px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 0;
  margin: 1rem 0;
  max-width: 32%;
}

.card .card-items .card-item-inner {
  padding: 1.6rem;
}

.card-img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.card-content {
  text-align: left;
}

.card-content h3 {
  font-size: 2rem;
  color: #6F7579;
  padding: 2.6rem 0 2rem 0;
}

.card-content p {
  font-size: 1.6rem;
  color: #6F7579;
  padding-bottom: 2.8rem;
}

/* END Card */

/* START News */

.news {
  text-align: center;
  background-color: #fff;
  height: auto;
  padding: 1% 10% 1%;
}

.news h2 {
  font-size: 6rem;
  padding-top: 6.8rem;
  display: inline-block;
  position: relative;
  margin-bottom: 11.3rem;
}

.news h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4.43rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 60px;
  /*下線の幅*/
  height: 4px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.news .topics {
  max-width: 838px;
  margin: 0 auto;
}

.news .colum {
  border-bottom: 1px solid #333333;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 3;
}

.news .days {
  font-size: 1.6rem;
  color: #333333;
  margin: 0;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.news .label1 {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  background-color: #666666;
  border-radius: 6px;
  padding: .4rem 1.8rem;
  color: white;
}

.news .label2 {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  background-color: #3F51B5;
  border-radius: 6px;
  padding: .4rem 1.8rem;
  color: white;
}

.news .label3 {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  background-color: #E81919;
  border-radius: 6px;
  padding: .4rem 1.8rem;
  color: white;
}

.news .label1:hover {
  text-decoration: none;
  opacity: 0.7;
}

.news .label2:hover {
  text-decoration: none;
  opacity: 0.7;
}

.news .label3:hover {
  text-decoration: none;
  opacity: 0.7;
}

.news .newsTitle {
  font-size: 1.6rem;
  color: #333333;
  max-width: 58rem;
  text-align: left;
}

.news .btn-arrow {
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-appearance: none;
  background: transparent url(../image/news-arrow.png) no-repeat center right 4px/16px 16px;
  color: #E81919;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 12px 36px;
  text-decoration: none;
  margin-top: 16px;
  font-family: 'Lato';
}

.news .btn-arrow:hover {
  zoom: 1.1;
}

.news .btn-arrow::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.news .btn-arrow:hover, .btn-arrow:focus {
  outline: none;
}

/* END News */

/* START Price */

.price {
  text-align: center;
  background-color: #EFEFEF;
  height: auto;
  padding: 1% 5% 1%;
}

.price h2 {
  font-size: 6rem;
  padding-top: 6.8rem;
  display: inline-block;
  position: relative;
  margin-bottom: 11.3rem;
}

.price h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4.43rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 60px;
  /*下線の幅*/
  height: 4px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.price .price-main {
  display: flex;
  justify-content: space-around;
}

.left-img {
  max-width: 360px;
  max-height: 300px;
  margin-bottom: 112px;
}

.right-table {
  display: flex;
  flex-direction: column;
}

th, td {
  font-size: 1.6rem;
}

table th {
  padding: 14px 79px 13px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

table td {
  padding: 14px 61px 13px;
}

.price .gray {
  background-color: #999999;
  color: white;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

table td:nth-child(n+2):nth-child(-n+3) {
  text-align: right;
  padding-right: 17px;
  background-color: #fff;
}

td span {
  color: red;
}

.price p {
  font-size: 1.6rem;
  text-align: left;
  padding-top: 20px;
}

.price a {
  color: #333333;
  border-bottom: 1px solid #333333;
}

.price a:hover {
  text-decoration: none;
  opacity: .7;
}

/* END Price */

/* START Access */

.access {
  text-align: center;
  background-color: #fff;
  height: auto;
  padding: 1% 10%;
}

.access h2 {
  font-size: 6rem;
  padding-top: 6.8rem;
  display: inline-block;
  position: relative;
  margin-bottom: 11.3rem;
}

.access h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4.43rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 60px;
  /*下線の幅*/
  height: 4px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.iframe-wrap {
  position: relative;
  max-width: 800px;
  padding-top: 50%;
  /* = height ÷ width × 100 */
  margin: 0 auto;
}

.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access table {
  margin: 0 10%;
  margin-top: 32px;
  margin-bottom: 37.5px;
}

.access table th, td {
  text-align: left;
}

.access table td:nth-child(n+2) {
  padding-left: 0;
  text-align: left;
}

.access .btn-arrow {
  font-size: 2rem;
  position: relative;
  display: block;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 16px 58px 14px 59px;
  text-decoration: none;
  background-color: #3F51B5;
  // box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 136px;
}

.access .btn-arrow:hover {
  opacity: .7;
}

.access .btn-arrow:after {
  background: transparent url(../image/access-arrow.png) no-repeat center center;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 23px;
  content: "";
  /* top: 20px;
  left: 260px; */
  bottom: 30%;
  left: 85%;
}

/* END Access */

/* START Q&A */

.QA {
  text-align: center;
  background-color: papayawhip;
  height: auto;
  padding: 1% 10%;
}

.QA h2 {
  font-size: 6rem;
  padding-top: 6.8rem;
  display: inline-block;
  position: relative;
  margin-bottom: 11.3rem;
}

.QA h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4.43rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 60px;
  /*下線の幅*/
  height: 4px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.QA .wrapper {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.QA #list {
  max-width: 904px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.QA .list-item {
  margin: 14px;
  position: relative;
  cursor: pointer;
  text-align: left;
  background-color: #3F51B5;
  color: white;
  font-size: 1.8rem;
}

.QA .list-item h3 {
  font-size: 14px;
}

.QA .list-item h3, span {
  padding-top: 20px;
  padding-bottom: 20px;
}

.QA .list-item h3:first-of-type {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.QA .list-item span {
  position: absolute;
  top: -3px;
  right: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-right: 20px;
}

.QA .answer {
  background-color: white;
  font-size: 1.8rem;
  padding: 5px 0px;
  margin-bottom: 15px;
  display: none;
  color: #3F51B5;
  border: 1px solid #3F51B5;
  font-weight: bold;
}

.QA .answer h3:last-of-type {
  max-width: 822px;
  font-weight: initial;
}

/* END Q&A */

/* START Contact */

.contact {
  text-align: center;
  background-color: #EFEFEF;
  height: auto;
  padding: 1% 10%;
}

.contact h2 {
  font-size: 6rem;
  padding-top: 6.8rem;
  display: inline-block;
  position: relative;
  margin-bottom: 11.3rem;
}

.contact h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4.43rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 60px;
  /*下線の幅*/
  height: 4px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

.contact-form {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 76.29px 43px 60px 52px;
}

.contact-form-row {
  display: flex;
  justify-content: space-between;
}

.contact-form .contact-form-row:nth-child(n+0):nth-child(-n+3) {
  margin-bottom: 50px;
}

.contact-form .contact-form-row:nth-child(4) {
  margin-bottom: 40px;
}

.contact-left p:first-of-type {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  color: #333333;
}

.contact-left p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 8.99px;
  background-color: #E81919;
  border-radius: 12px;
  border-top: #E81919;
  width: 45.98px;
  height: 22.72px;
  color: white;
}

.contact-right input {
  position: relative;
  width: 528px;
  height: 60px;
  padding-left: 16px;
  bottom: 20px;
}

.contact-right input::placeholder, textarea::placeholder {
  color: #cccccc;
}

.contact-right .select-tab {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(../image/select-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 528px;
  position: relative;
  bottom: 10px;
}

.select-tab option {
  color: #cccccc;
}

.contact-right textarea {
  width: 528px;
}

.radio-box {
  text-align: left;
  margin-bottom: 50px;
}

.radio-test {
  display: none;
}

.radio-test+span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 3rem 0 2.2em;
  position: relative;
  font-size: 1.6rem;
  font-weight: initial;
}

.radio-test+span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.radio-test+span::after {
  -webkit-transform: translateY(-50%);
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 18px;
  left: 6px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 18px;
}

.radio-test:checked+span::after {
  opacity: 1;
}

.checkbox {
  margin-bottom: 30px;
}

.check-test {
  display: none;
  font-size: 1.6rem;
}

.check-test+span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 5.0rem;
  position: relative;
}

.check-test+span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 3rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
}

.check-test+span::after {
  -webkit-transform: translateY(-50%) rotate(-310deg);
  border-bottom: 3px solid #3F51B5;
  border-right: 3px solid #3F51B5;
  content: "";
  display: block;
  height: 2rem;
  left: 10px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%) rotate(-45deg); */
  transition: all 0.3s ease 0s;
  width: 1.4rem;
}

.check-test:checked+span::after {
  opacity: 1;
}

.checkbox a {
  color: #333333;
  border-bottom: 1px solid #333333;
}

.checkbox a:hover {
  text-decoration: none;
}

.contact .btn-arrow {
  font-size: 2rem;
  position: relative;
  display: block;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 14px 86px 13px 87px;
  text-decoration: none;
  background-color: #3F51B5;
  // box-shadow: 0px 3px 6px #00000029;
}

.contact .btn-arrow:hover {
  opacity: .7;
}

.contact .btn-arrow:after {
  background: transparent url(../image/access-arrow.png) no-repeat center center;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 23px;
  content: "";
  /* top: 20px;
  left: 260px; */
  bottom: 30%;
  left: 85%;
}

/* END Contact */

/* START modal */

.modal_ {
  background-color: white;
  max-width: 930px;
  margin: 0 auto;
  // box-shadow: #00000029 0 0 3px;
  /* position: relative; */
  display: none;
  position: fixed;
  top: 150px;
  right: 0;
  left: 0;
  z-index: 3;
}

.modal_ h2 {
  font-size: 2.4rem;
  color: #707070;
  padding-top: 6.5rem;
  display: inline-block;
  position: relative;
  margin-bottom: 7.3rem;
}

.modal_ h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2.43rem;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 155px;
  /*下線の幅*/
  height: 2px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #3F51B5;
  /*下線の色*/
}

#modal-content {
  margin-bottom: 60px;
}

.modal-text {
  max-width: 817.5px;
  margin: 0 auto;
  text-align: left;
}

.modal-text:first-of-type {
  margin-bottom: 30px;
}

.modal-text h3 {
  border-left: 3px solid #3F51B5;
  font-size: 2rem;
  color: #707070;
  margin-bottom: 18px;
}

.modal-text h3, p {
  padding-left: 27.5px;
}

.modal-text p {
  font-size: 1.6rem;
  color: #707070;
}

.modal_ .btn {
  font-size: 1.6rem;
  padding: 10px 66px 7px;
  color: #FFFFFF;
  border: 1px solid #3F51B5;
  background-color: #3F51B5;
  border-radius: 12px;
  // box-shadow: #00000029 0 3px 6px;
  margin-bottom: 20px;
}

.modal_ .modal-close:hover {
  opacity: .7;
  cursor: pointer;
}

.modal_ img {
  position: absolute;
  top: -20px;
  right: -20px;
}

/* END modal */

/*START footer */

footer {
  background: linear-gradient(#666666, #333333);
  position: relative;
}

footer a {
  color: white;
}

footer p {
  text-align: center;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding-top: 74px;
  padding-bottom: 91px;
  max-width: 1040px;
  margin: 0 auto;
}

.footer-left img {
  width: 200px;
  height: 39px;
  margin-bottom: 29px;
  position: relative;
  bottom: 10px;
}

.footer-left p {
  text-align: left;
  font-weight: initial;
}

.footer-center a {
  padding-right: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.footer-center a:hover {
  color: white;
  opacity: .7;
  text-decoration: none;
}

.footer-right img {
  padding-right: 16px;
}

.footer-right img:hover {
  opacity: .7;
  cursor: pointer;
}

footer p:last-of-type {
  padding-bottom: 31px;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.to-top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 14px;
  right: 19px;
  display: none;
}

.to-top:hover {
  opacity: 0.7;
}

.sm-only {
  display: none;
}

/* END footer */

@media screen and (max-width: 992px) {
  /* 992pxまでの幅の場合に適応される */
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  header .space-between {
    justify-content: start;
  }
  header .right {
    display: none;
  }
  /* START main */
  main .text-up {
    padding-bottom: 60px;
  }
  main .main-text h2:nth-child(1) {
    padding: 10px 50px;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 70px;
    height: 55px;
    margin-top: -16px;
  }
  .swiper-button-prev {
    margin-left: 5%;
  }
  .swiper-button-next {
    margin-right: 5%;
  }
  /* END main */
  /* START Card */
  .card .card-items {
    max-width: 49%;
  }
  /* END Card */
  /* START News */
  .news .colum {
    flex-direction: column;
    border: 1px solid gray;
  }
  .news .days {
    font-size: 1.6rem;
    display: block;
    padding-bottom: 10px;
  }
  .news .label1 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .news .label2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .news .label3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  /* END News */
  /* START Price */
  .price .price-main {
    /* display: block; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .left-img {
    margin: 50px auto;
  }
  /* END Price */
  /* START Access */
  .access table {
    margin: 50px auto;
  }
  /* END Access */
  /* START Contact */
  .contact-form-row {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
  }
  .contact-right input {
    bottom: 0px;
    margin: 0px;
  }
  .contact-left p {
    margin: 10px auto;
  }
  .contact-right .select-tab {
    bottom: 0px;
  }
  .radio-box {
    text-align: center;
  }
  /* END Contact */
  /* START footer */
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-left p {
    text-align: center;
  }
  .footer-right img {
    padding-top: 50px;
  }
  .footer-center a:last-of-type {
    padding-right: 0px;
  }
  /* END footer */
}

@media screen and (max-width: 768px) {
  /* 768pxまでの幅の場合に適応される */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  /* START main */
  main .text-up {
    padding-bottom: 40px;
  }
  main .main-text h2:nth-child(1) {
    padding: 5px 30px;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 60px;
    height: 45px;
    margin-top: -16px;
  }
  .swiper-button-prev {
    margin-left: 2%;
  }
  .swiper-button-next {
    margin-right: 2%;
  }
  /* END main */
  /* START Card */
  .card {
    padding: 5% 5%;
  }
  .card .card-items {
    max-width: 100%;
  }
  /* END Card */
  /* START News */
  .news .colum .newsTitle {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    word-break: normal;
  }
  /* END News */
  /* START Price */
  .price thead {
    display: none;
  }
  .price tr {
    width: 100%;
  }
  .price td {
    display: block;
    text-align: center;
    width: 100%;
  }
  .price td:first-child {
    text-align: center;
  }
  .price td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
    background-color: thistle;
  }
  .price br {
    display: none;
  }
  .right-table th, td {
    border: solid .1px gray
  }
  .left-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  /* END Price */
  /* START Access */
  .access table tr {
    width: 100%;
    margin: 0 auto;
  }
  .access table th {
    text-align: center;
    border: none;
  }
  .access table td {
    display: block;
    border: none;
  }
  .access table td:nth-child(n+0):nth-child(-n+3) {
    text-align: center;
  }
  .access table td:nth-child(odd) {
    color: red;
    font-weight: bold;
  }
  .access .btn-arrow {
    font-size: 1.5rem;
    padding: 15px 30px 15px 30px;
  }
  /* END Access */
  /* START Contact */
  .contact-right input {
    width: 250px;
  }
  .contact-right .select-tab {
    width: 250px;
  }
  .contact-right textarea {
    width: 250px;
  }
  label {
    display: block;
    padding: .5rem 0;
  }
  .contact .btn-arrow {
    font-size: 1.5rem;
    position: relative;
    display: block;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 14px 56px 13px 57px;
    text-decoration: none;
    background-color: #3F51B5;
    // box-shadow: 0px 3px 6px #00000029;
  }
  .contact .btn-arrow:after {
    bottom: 30%;
    left: 75%;
  }
  /* END Contact */
  /* START footer */
  .sm-only {
    display: block;
  }
  footer p:last-of-type {
    position: relative;
    bottom: 20px;
  }
  .footer-center a {
    padding-right: 10px;
  }
  .footer-left p {
    line-height: 50px;
  }
  .footer-right img:last-of-type {
    padding-right: 0px;
  }
  /* END footer */
}