/* Common */

/*ここから PC表示 画面が大きいときのみ適用*/

.wrap{
  overflow: hidden;
}
.navbar-brand {
  padding-left: 20px;
  font-size: 30px;
}

.navbar-brand i {
  color: rgb(104, 241, 12);
}

.nav-link {
  font-size: 90%;
  font-weight: bold;
  margin-right: 5px;
  color: rgba(29, 28, 28, 0.596);
}

.nav-link:hover {
  text-decoration: underline;
}

.fixed-top hr {
  margin-top: initial;
  max-width: initial;
  border: solid 1px rgb(235, 233, 233);
}

.form-inline {
  margin-right: 70px;
}

.form-inline p {
  margin-right: 20px;
  font-size: 90%;
  padding-top: 10px;
}

.form-inline span {
  font-weight: bold;
  font-size: 25px;
  margin-left: 15px;
}

.form-inline button {
  color: #fff;
  background-color: rgba(201, 5, 5, 0.726);
  font-weight: bold;
}

.container {
  padding: 0px 70px;
}

.top-photo {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.6)), url('https://a0.muscache.com/pictures/9d08d356-59b9-4ac4-9f41-5b9c13c2b211.jpg');
  max-width: 100%;
  margin-top: 80px;
  height: 640px;
  background-size: cover;
  position: relative;
}

.photoInner {
  background-color: #fff;
  width: 460px;
  border-radius: 3px;
  position: absolute;
  top: 19%;
  left: 55%;
  padding: 30px;
}

.photoInner .btn {
  width: 100%;
  background-color: rgba(248, 74, 74, 0.911);
  font-weight: bold;
  color: #fff;
}

.photoInner h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.photoInner h3 {
  font-size: 15px;
  font-weight: bold;
}

.photoInner input, select {
  width: 100%;
  border-radius: 3px;
  padding: 13px 7px;
  border: solid 1px rgb(221, 221, 221);
}

.photoInner span {
  font-size: 40%;
  margin-left: 5px;
  opacity: .5;
  font-weight: normal;
}

.money {
  padding: 15px 0;
}

.photoInner button {
  padding: 10px 0;
}

.Reason {
  margin-top: 60px;
}

.Reason h3 {
  font-weight: bold;
  font-size: 24px;
  opacity: .8;
}

.Reason p {
  padding-top: 20px;
  max-width: 440px;
}

hr {
  margin-top: 100px;
  max-width: 70px;
  border: solid 1px rgb(34, 33, 33);
}

.step h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 35px;
  opacity: .9;
}

.step h3 {
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  opacity: .8;
}

.step p {
  max-width: 300px;
}

.fa-check-circle-o {
  font-size: 50px;
}

.check {
  color: #008489;
}

.check:hover {
  border-bottom: #008489;
  color: #008489;
}

.host {
  padding-top: 180px;
}

.fa-quote-left {
  font-size: 35px;
  color: orange;
}

.host .col-md-6 {
  vertical-align: middle;
}

.host h3 {
  font-weight: normal;
  font-size: 30px;
  max-width: 400px;
}

.host p {
  max-width: 420px;
  opacity: .8;
}

.host .btn {
  border: solid 2px #000;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}

.left {
  top: 30px;
}

.host-image {
  background-image: url('https://a0.muscache.com/pictures/8e6c68cc-e714-4849-bad9-464abf58e84a.jpg');
  max-width: 500px;
  background-size: 500px 500px;
  height: 500px;
  bottom: 30px;
}

.safety h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 35px;
  opacity: .9;
}

.safety .col-md-6 {
  margin-top: 50px;
}

.safety p {
  max-width: 418px;
  opacity: .9;
  line-height: 1.7rem;
}

.safety .right {
  bottom: 20px;
}

.safety li {
  line-height: 2.5rem;
}

.care {
  margin-top: 80px;
  background-image: url(https://a0.muscache.com/pictures/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg);
  height: 580px;
  background-size: cover;
}

ul {
  list-style: none;
  ;
}

.right .fa-check {
  margin-right: 20px;
  color: #0fa0a5;
}

.right {
  right: 20px;
}

.settlement h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 35px;
  opacity: .9;
}

.settlement .col-md-4 {
  margin-top: 50px;
}

.Tessa {
  padding-top: 180px;
}

.left-image {
  background-image: url('https://a0.muscache.com/pictures/4e8524b4-205e-4fdf-9f0a-f1f36905c8f6.jpg');
  height: 510px;
  max-width: 530px center;
  background-size: 100%;
}

.settlement h3 {
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  opacity: .8;
}

.settlement p {
  max-width: 300px;
}

.Tessa h3 {
  font-weight: normal;
  font-size: 30px;
  max-width: 400px;
}

.Tessa p {
  max-width: 420px;
  opacity: .8;
}

.Tessa .btn {
  border: solid 2px #000;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}

.Tessa .right {
  right: initial;
  top: 70px;
  left: 70px;
}

.World h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 35px;
  opacity: .9;
}

.World h3 {
  padding: 10px 0;
  font-size: 50px;
  opacity: .8;
}

.World p {
  max-width: 300px;
}

.About h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 35px;
  opacity: .9;
}

.About h3 {
  font-weight: bold;
  font-size: 24px;
  opacity: .8;
}

.About p {
  padding-top: 20px;
  max-width: 440px;
}

.Question h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 35px;
  opacity: .9;
}

.Question .row {
  padding-top: 30px;
}

.Question a {
  font-size: 18px;
}

.Question hr {
  margin-top: initial;
  max-width: initial;
  margin-top: 25px;
  border: solid 1px rgb(235, 233, 233);
}

.Hosting {
  height: 450px;
}

.Hosting h3 {
  padding-top: 60px;
  font-weight: bold;
  font-size: 24px;
  opacity: .8;
}

.card {
  padding-top: 10px;
  border: none;
}

.card-body {
  padding-left: 0;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
  opacity: .8;
}

.card-subtitle {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 13px;
}

.card-img-top {
  overflow: hidden;
  height: 160px;
  object-fit: cover;
}

.card-link {
  color: #0fa0a5;
  font-size: 13px;
}

.card-link a:hover {
  color: none;
}

.Revenue {
  background-image: url('https://a0.muscache.com/pictures/dbe25d99-6821-4e02-802f-fcd7aaef85bc.jpg');
  height: 430px;
  max-width: 1280px;
  margin: 0 auto;
  background-size: cover;
  position: relative;
}

.RevenueInner {
  position: absolute;
  top: 20%;
  left: 70px;
}

.RevenueInner h1 {
  color: white;
  font-size: 55px;
  font-weight: bold;
  max-width: 400px;
}

.RevenueInner .btn {
  background-color: white;
  font-weight: bold;
  padding: 10px 25px;
  margin-top: 25px;
}

.Conclusion {
  margin-top: 100px;
}

.Conclusion h4 {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
  opacity: .9;
}

.Conclusion p {
  font-size: 14px;
  color: rgba(109, 107, 107, .8);
  font-weight: bold;
  line-height: 8px;
}

.Conclusion a {
  color: rgba(109, 107, 107, .8);
}

.Conclusion span {
  background-color: rgb(15, 98, 112);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 10px;
}

.Conclusion hr {
  margin-top: initial;
  max-width: initial;
  margin-top: 15px;
  border: solid .5px rgb(235, 233, 233);
}

footer .fa-trophy {
  font-size: 25px;
  padding-top: 25px;
}

footer .col-md-9 {
  right: 50px;
}

footer a {
  font-size: 13px;
  color: rgba(109, 107, 107, .8);
  font-weight: bold;
}

footer p {
  font-size: 13px;
  color: rgba(109, 107, 107, .8);
  font-weight: bold;
}

footer a:hover {
  color: rgba(109, 107, 107, .8);
}

footer .fab {
  padding-left: 10px;
  font-size: 20px;
}

footer .col-md-2 {
  text-align: right;
}

/* ここまで PC表示 画面が大きいときのみ適用*/

/* ここからスマホ表示 */

@media (max-width:1180px) {
  .fixed-top {
    display: none;
  }
  .top-photo {
    margin-top: 0;
    height: 280px;
  }
  .fixed-top {
    z-index: initial;
  }
  .fixed-top hr {
    border: none;
  }
  .photoInner {
    position: initial;
    width: auto;
    max-width: 800px;
    left: 50%;
  }

  .miniInner {
    position: absolute;
    bottom: 400px;
    color: white;
  }
  .step p {
    max-width: 100%;
  }
  .step h1 {
    font-size: 40px;
  }
  .money{
    display: none;
  }
  .photoInner .btn{
    margin-top: 20px !important;
  }
  
  .host-image {
    height: auto;
    max-width: 500px;
    background-size: cover;
    bottom :0;
    top: 40px;
  }

  .left{
    padding-right: 50px;
  }

  .host h3{
    font-size: 20px;
  }

.right{
  margin-top: 30px;
}

.Reason .row{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.step  .row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step  .row .col-lg-4, .col-md-12{
  max-width: 80%;
}

.step .host{
  flex-direction: initial;
  align-items: initial;
  padding-top: 90px;
}

@media (max-width:768px) {
  .step .host{
    flex-direction: column;
  }

  .host-image{
    width: 90%;
    height: 400px;
  }

  .container{
    padding: 0 0;
  }

  .care{
    background-position: center;
  }

}


/* ここまでスマホ表示 */