@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #ffffff1a;
  position: fixed;
  z-index: 2;
}

header img {
  display: none;
}

header .flex-center {
  display: flex;
  justify-content: center;
}

header ul li {
  color: #3e3e3e;
  font-size: 1.6rem;
  list-style: none;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

header ul li:first-of-type {
  margin-left: 0;
}

header a {
  color: #3e3e3e;
}

main {
  height: 648px;
  background-image: url("../image/aidan-hancock-UeqEo3EFBhE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 125vw;
  background-position: right top 47%;
  position: relative;
}

main .inner {
  position: absolute;
  top: 32%;
  right: 3%;
  max-width: 41%;
}

main h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0.02px;
  color: #3e3e3e;
}

main p {
  font-size: 1.8rem;
  color: #3e3e3e;
  line-height: 26px;
  padding: 40px 0;
}

main .btn {
  background-color: #ffaa3b;
  border-radius: 12px;
  padding: 14px 48px;
}

main .btn:hover {
  background-color: #ff9306;
}

main .btn a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
}

body {
  background-color: #f3f3f3;
}

#News {
  background-color: #f3f3f3;
}

#News .contents {
  background-color: #ffffff;
  text-align: center;
  max-width: 90%;
  margin: 130px auto;
}

#News .contents h2 {
  font-size: 3.6rem;
  color: #3e3e3e;
  font-weight: bold;
  padding: 60px 0;
}

#News .contents table {
  width: 90%;
  margin: 0 auto;
}

#News .contents table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cecdcd;
  border-bottom: 1px solid #cecdcd;
  padding: 40px 0;
}

#News .contents table tr:hover {
  background-color: #dcebfd;
  cursor: pointer;
}

#News .contents table tr:nth-child(2) {
  border-top: none;
  border-bottom: none;
}

#News .contents table tr td {
  font-size: 1.8rem;
  color: #3e3e3e;
  text-align: left;
}

#News .contents table tr td:nth-of-type(2) {
  width: 60%;
}

#News .contents table tr td p {
  display: inline-block;
}

#News .contents table tr td p:nth-child(2) {
  font-size: 1.4rem;
  margin-left: 60px;
}

#News .contents table tr td a {
  text-decoration: none;
  color: #3e3e3e;
  border: 2px solid #3b69ff;
  border-radius: 50px;
  padding: 5px 34px;
}

#News .contents table tr .arrow {
  width: 14.85px;
  height: 25.5px;
  margin-right: 0;
}

#News .contents .btn {
  background-color: #fff;
  padding: 20px 86px;
  font-size: 20px;
  border: 1px solid #707070;
  margin: 40px 0;
}

#News .contents .btn:hover {
  background-color: #3e3e3e;
}

#News .contents .btn:hover a {
  color: #ffffff;
}

#News .contents .btn a {
  text-decoration: none;
  color: #3e3e3e;
}

#Service .bg-black {
  background-color: #3e3e3e;
  height: 400px;
  position: relative;
  text-align: center;
}

#Service h2 {
  font-size: 3.6rem;
  font-weight: bold;
  color: #ffffff;
  padding: 80px 0;
}

#Service .inner {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 12px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#Service .inner .service-item {
  width: calc(100% / 3);
  padding: 60px 44px;
}

#Service .inner .service-item h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #3e3e3e;
  line-height: 30px;
  letter-spacing: 4px;
  margin: 27px 0 20px 0;
}

#Service .inner .service-item p {
  font-size: 1.4rem;
  line-height: 24px;
  color: #3e3e3e;
  margin: 0;
}

#Results {
  background-color: #3e3e3e;
  margin-left: 5%;
  margin-top: 255px;
  text-align: left;
}

#Results .inner {
  margin-left: 9%;
}

#Results .inner h2 {
  font-size: 3.6rem;
  color: #ffffff;
  font-weight: bold;
  padding: 80px 0;
}

#Results .inner .card {
  width: 35%;
  border-color: #3e3e3e;
}

#Results .inner .card .card-content {
  margin: 20px;
}

#Results .inner .card .card-content h3 {
  font-size: 2rem;
  color: #3e3e3e;
  font-weight: bold;
  margin-bottom: 20px;
}

#Results .inner .card .card-content p {
  font-size: 1.6rem;
  color: #3e3e3e;
}

#Results .inner .swiper-pagination-bullet {
  background: #ffffff;
  border: 1px solid #ffffff;
}

#Results .inner .btn {
  background-color: #3e3e3e;
  padding: 20px 86px;
  font-size: 20px;
  border: 1px solid #ffffff;
  margin: 40px 0;
}

#Results .inner .btn:hover {
  background-color: #fff;
}

#Results .inner .btn:hover a {
  color: #3e3e3e;
}

#Results .inner .btn a {
  color: #ffffff;
  text-decoration: none;
}

#Results .inner .swiper-wrapper {
  padding-bottom: 60px;
}

#Results .inner .swiper-pagination {
  text-align: left;
}

#Price {
  text-align: center;
}

#Price h2 {
  font-size: 3.6rem;
  font-weight: bold;
  color: #3e3e3e;
  margin: 80px 0;
}

#Price .content {
  width: 65%;
  margin: 0 auto;
}

#Price .content table {
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
}

#Price .content table tr {
  height: 60px;
}

#Price .content table td {
  font-size: 2.4rem;
  background-color: #707070;
  color: #fff;
}

#Price .content table .price {
  text-align: left;
  background-color: #fff;
  color: #3e3e3e;
  padding-left: 70px;
}

#Price .content p {
  text-align: left;
  padding-top: 16px;
  color: #3e3e3e;
  font-size: 1.2rem;
}

#Comments {
  margin-top: 170px;
}

#Comments .comments-main {
  width: 90%;
  margin: 0 auto;
}

#Comments .contents {
  background-color: #fff;
  padding: 80px 40px 120px 40px;
  z-index: 3;
}

#Comments .contents h2 {
  font-size: 3.6rem;
  color: #3e3e3e;
  padding-bottom: 80px;
  font-weight: bold;
}

#Comments .contents .up {
  margin-bottom: 80px;
}

#Comments .contents p {
  font-size: 1.6rem;
  color: #3e3e3e;
  line-height: 26px;
}

#Comments .right-image {
  padding: 0;
  position: relative;
  top: 126px;
  z-index: 3;
}

#Comments .bg-black {
  background-color: #3e3e3e;
  max-width: 67%;
  height: 600px;
  z-index: 1;
  position: relative;
  bottom: 450px;
  margin-bottom: -450px;
}

#FAQs {
  background-image: url("../image/sunyu-kim-1053375-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 80px;
}

#FAQs h2 {
  font-size: 3.6rem;
  color: #3e3e3e;
  font-weight: bold;
  text-align: center;
  padding: 80px 0;
}

#FAQs .faq {
  width: 40%;
  position: relative;
  left: 50%;
}

#FAQs .faq #faq-list .faq-list-item {
  background-color: #fff;
  border-radius: 7px;
  list-style: none;
  padding: 18px;
  margin-bottom: 40px;
}

#FAQs .faq #faq-list .faq-list-item:last-child {
  margin-bottom: 0;
}

#FAQs .faq #faq-list .faq-list-item .faq-contents {
  display: flex;
  align-items: center;
  position: relative;
}

#FAQs .faq #faq-list .faq-list-item .faq-contents:hover {
  cursor: pointer;
}

#FAQs .faq #faq-list .faq-list-item h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

#FAQs .faq #faq-list .faq-list-item h3:first-of-type {
  background-color: #3b69ff;
  color: #ffffff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 3.5px 6.5px 3.5px;
  font-weight: 500;
  margin-right: 13px;
}

#FAQs .faq #faq-list .faq-list-item span {
  display: block;
  text-align: right;
  color: #3b69ff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 1px;
  right: 5%;
}

#FAQs .faq #faq-list .faq-list-item .answer {
  margin-top: 20px;
  padding: 18px 14px;
  font-size: 1.6rem;
  color: #3e3e3e;
  background-color: rgba(59, 144, 255, 0.377);
  border-radius: 7px;
  display: none;
}

.access .bg-black {
  background-color: #3e3e3e;
  max-width: 67%;
  height: 600px;
  z-index: 1;
}

.access .contents {
  padding-top: 130px;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  bottom: 600px;
  margin-bottom: -600px;
}

.access .contents h2 {
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.access .contents p {
  font-size: 1.6rem;
}

.access .contents .btn {
  background-color: #3e3e3e;
  padding: 20px 86px;
  font-size: 20px;
  border: 1px solid #ffffff;
  margin: 40px 0;
}

.access .contents .btn:hover {
  background-color: #fff;
}

.access .contents .btn:hover a {
  color: #3e3e3e;
}

.access .contents .btn a {
  color: #ffffff;
}

.access .contents .iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 71.5%;
  /* = height ÷ width × 100 */
}

.access .contents .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Contact {
  margin-top: 130px;
  background-image: url(../image/alex-blajan-159378-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#Contact .inner-contents {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
}

#Contact .inner-contents .contents-header {
  background-image: url(../image/contact1.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  color: #ffffff;
  padding: 61.5px 240px;
  border-radius: 12px 12px 0 0;
}

#Contact .inner-contents .contents-header h2 {
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 12px;
}

#Contact .inner-contents .contents-header p {
  font-size: 1.6rem;
  font-weight: lighter;
}

#Contact .inner-contents .contents-main {
  background-color: #ffffff;
  border-radius: 0 0 12px 12px;
  padding: 20px 0px 60px 0px;
}

#Contact .inner-contents .contact-form {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

#Contact .inner-contents .contact-form .contact-form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0;
}

#Contact .inner-contents .contact-form .contact-form-row .form-left p {
  display: inline;
}

#Contact .inner-contents .contact-form .contact-form-row .form-left span {
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #ff4646;
  border-radius: 5px;
  padding: 2px 12px;
}

#Contact .inner-contents .contact-form .contact-form-row .form-left .name {
  margin-left: 96px;
}

#Contact .inner-contents .contact-form .contact-form-row .form-left .kana {
  margin-left: 52px;
}

#Contact .inner-contents .contact-form .contact-form-row .form-right {
  width: 505px;
  border-bottom: 1px solid #3e3e3e;
}

#Contact .inner-contents .contact-form .contact-form-row .form-right:hover {
  border-color: #4973ff;
  box-shadow: 0px 5px 20px -10px #4973ff;
}

#Contact .inner-contents .contact-form .contact-form-row .select,
#Contact .inner-contents .contact-form .contact-form-row .check {
  border-bottom: none;
}

#Contact .inner-contents .contact-form .contact-form-row input {
  height: 30px;
  border: none;
  font-size: 2.2rem;
  width: 100%;
}

#Contact .inner-contents .contact-form .contact-form-row p,
#Contact .inner-contents .contact-form .contact-form-row label {
  font-size: 2.2rem;
  color: #3e3e3e;
}

#Contact .inner-contents .contact-form .contact-form-row select {
  font-size: 1.8rem;
  color: #3e3e3e;
  width: 260px;
  padding-left: 20px;
}

#Contact .inner-contents .contact-form .contact-form-row select:hover {
  box-shadow: 0px 0px 1px 0.5px #4973ff;
}

#Contact .inner-contents .contact-form .contact-form-row input::-webkit-input-placeholder {
  font-size: 2.2rem;
  color: #3e3e3e;
  padding-left: 10px;
}

#Contact .inner-contents .contact-form .contact-form-row input::-webkit-input-placeholder::-moz-placeholder {
  font-size: 2.2rem;
  color: #3e3e3e;
  padding-left: 10px;
}

#Contact .inner-contents .contact-form .contact-form-row input::-webkit-input-placeholder::-moz-placeholder {
  font-size: 2.2rem;
  color: #3e3e3e;
  padding-left: 10px;
}

#Contact .inner-contents .contact-form .contact-form-row input::-webkit-input-placeholder::-ms-input-placeholder {
  font-size: 2.2rem;
  color: #3e3e3e;
  padding-left: 10px;
}

#Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test {
  display: none;
}

#Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

#Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span:hover::before {
  border: 1px solid #4973ff;
  box-shadow: 0px 0px 5px 1px #4973ff;
}

#Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span:active::before {
  border: 1px solid #4973ff;
  background-color: #b6c6fc;
}

#Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

#Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span::after {
  -webkit-transform: translateY(-50%);
  background: #4973ff;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 4px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 8px;
}

#Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test:checked + span::after {
  opacity: 1;
}

#Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test:first-of-type {
  margin-right: 60px;
}

#Contact .inner-contents .contact-form .contact-form-message p {
  font-size: 2.2rem;
  color: #3e3e3e;
}

#Contact .inner-contents .contact-form .contact-form-message textarea {
  font-size: 2.2rem;
  width: 100%;
}

#Contact .inner-contents .contact-form .contact-form-message textarea:hover {
  border: 1px solid #4973ff;
  box-shadow: 0px 0px 5px 1px #4973ff;
}

#Contact .inner-contents .contact-form .check-test {
  display: none;
}

#Contact .inner-contents .contact-form .check-test + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 30px 0 30px 40px;
  position: relative;
  font-size: 1.8rem;
}

#Contact .inner-contents .contact-form .check-test + span:hover::before {
  border: 1px solid #4973ff;
  box-shadow: 0px 0px 5px 1px #4973ff;
}

#Contact .inner-contents .contact-form .check-test + span:active::before {
  border: 1px solid #4973ff;
  background-color: #b6c6fc;
}

#Contact .inner-contents .contact-form .check-test + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

#Contact .inner-contents .contact-form .check-test + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #4973ff;
  border-left: 3px solid #4973ff;
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
}

#Contact .inner-contents .contact-form .check-test:checked + span::after {
  opacity: 1;
}

#Contact .inner-contents .contact-form .check-test label {
  font-size: 1.8rem;
  color: #3e3e3e;
}

#Contact .inner-contents .contact-form .btn {
  background-color: #ffaa3b;
  border-radius: 12px;
  padding: 14px 48px;
}

#Contact .inner-contents .contact-form .btn a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
}

#Contact .inner-contents .contact-form .btn:hover {
  background-color: #fd9105;
}

footer {
  background-color: #3e3e3e;
  padding: 120px 93px;
}

footer .contents {
  display: flex;
  justify-content: space-between;
}

footer .contents .footer-left i {
  font-size: 36px;
  margin-right: 20px;
  color: #e3e3e3;
}

footer .contents .footer-left p {
  font-size: 1.8rem;
  color: #fff;
  padding: 10px 0;
}

footer .contents .footer-left p:first-of-type {
  padding-top: 40px;
}

footer .contents .footer-left p:last-of-type {
  padding-bottom: 0px;
}

footer .contents .footer-right {
  text-align: right;
}

footer .contents .footer-right h4 {
  font-size: 4.4rem;
  color: #e3e3e3;
  padding-top: 40px;
}

footer .contents .footer-right p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 18px;
}

footer .contents .footer-right img {
  position: relative;
  right: 20px;
  top: 140px;
}

@media screen and (max-width: 1024px) {
  /* 1024pxまでの幅の場合に適応される*/
}

@media screen and (max-width: 768px) {
  /*768pxまでの幅の場合に適応される*/
  header {
    background-color: #f3f3f3;
    height: 80px;
    z-index: 50;
  }
  header img {
    display: block;
    width: 200px;
    height: 25px;
    margin: 21px 0px 21px 16px;
  }
  .drawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 0 1em;
    top: -46px;
  }
  .drawer .navbar_toggle {
    z-index: 9999;
  }
  .drawer .navbar_toggle .navbar_toggle_icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #5c6b80;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
  }
  .drawer .navbar_toggle .navbar_toggle_icon:nth-child(1) {
    top: 10px;
    left: 0;
  }
  .drawer .navbar_toggle .navbar_toggle_icon:nth-child(2) {
    margin: 18px 0;
  }
  .drawer .navbar_toggle .navbar_toggle_icon:nth-child(3) {
    top: -10px;
  }
  .flex-center {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 0px;
    right: 30%;
  }
  .menu {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    z-index: 1000;
    background-color: #fff;
  }
  /*OPEN時の動き*/
  .navbar_toggle.open1 .navbar_toggle_icon:nth-child(1) {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar_toggle.open1 .navbar_toggle_icon:nth-child(2) {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  .navbar_toggle.open1 .navbar_toggle_icon:nth-child(3) {
    top: -20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu.open1 {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  main {
    background-size: 450vw;
    background-position: left 45% top 45%;
    z-index: 1;
  }
  main .inner {
    position: absolute;
    top: 30%;
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  main .inner h1 {
    font-size: 2.4rem;
    text-align: left;
  }
  main .inner p {
    font-size: 1.6rem;
    text-align: left;
  }
  main .inner .btn {
    max-width: 80%;
    padding: 16px 24px;
  }
  #News .contents {
    position: relative;
    margin-top: -40px;
    z-index: 2;
  }
  #News .contents h2 {
    font-size: 3rem;
    padding: 40px 0;
  }
  #News .contents table {
    width: 100%;
  }
  #News .contents table tr {
    flex-wrap: wrap;
    padding: 16px;
  }
  #News .contents table tr td {
    font-size: 1.8rem;
    color: #3e3e3e;
    text-align: left;
  }
  #News .contents table tr td:nth-of-type(2) {
    padding-top: 10px;
    width: 90%;
  }
  #News .contents table tr td p {
    font-size: 1.4rem;
  }
  #News .contents table tr td p:nth-child(2) {
    font-size: 1.2rem;
    margin-left: 20px;
  }
  #News .contents table tr td a {
    padding: 4px 20px;
  }
  #News .contents .btn {
    width: 90%;
  }
  #News .contents .btn a {
    font-size: 1.8rem;
  }
  #Service h2 {
    font-size: 3rem;
    padding: 40px 0;
  }
  #Service .inner {
    max-width: 90%;
    display: block;
  }
  #Service .inner .service-item {
    width: 100%;
    padding: 40px 16px 25px 16px;
  }
  #Service .inner .service-item h3 {
    font-size: 1.8rem;
    margin: 28px 0 24px 0;
  }
  #Results {
    margin-left: 0;
    margin-top: 560px;
    text-align: center;
  }
  #Results .inner {
    margin-left: 0;
  }
  #Results .inner .swiper-container {
    margin-left: 5%;
  }
  #Results .inner h2 {
    font-size: 3rem;
    padding: 40px 0;
  }
  #Results .inner .card .card-content {
    margin: 12px;
    text-align: left;
  }
  #Results .inner .card .card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 12px;
  }
  #Results .inner .card .card-content p {
    font-size: 1.2rem;
  }
  #Results .inner .swiper-pagination {
    left: 35%;
  }
  #Results .inner .btn {
    width: 90%;
  }
  #Price {
    text-align: center;
  }
  #Price h2 {
    font-size: 3rem;
    margin: 40px 0;
  }
  #Price .content {
    width: 95%;
  }
  #Price .content table tr {
    height: 60px;
  }
  #Price .content table td {
    font-size: 2.4rem;
    background-color: #707070;
    color: #fff;
  }
  #Price .content table .price {
    padding-left: 20px;
  }
  #Comments {
    margin-top: 60px;
  }
  #Comments .comments-main {
    width: 95%;
  }
  #Comments .contents {
    background-color: #fff;
    padding: 0px 20px 40px 20px;
  }
  #Comments .contents h2 {
    font-size: 3rem;
    padding: 40px 0;
  }
  #Comments .contents .up {
    margin-bottom: 30px;
  }
  #Comments .contents p {
    font-size: 1.4rem;
  }
  #Comments .right-image {
    display: none;
  }
  #Comments .bg-black {
    background-color: #3e3e3e;
    max-width: 100%;
    height: 650px;
    z-index: 1;
    position: relative;
    bottom: 560px;
    margin-bottom: -560px;
  }
  #FAQs {
    padding-bottom: 40px;
  }
  #FAQs h2 {
    font-size: 3rem;
    padding: 40px 0;
  }
  #FAQs .faq {
    width: 95%;
    left: 0;
    margin: 0 auto;
  }
  #FAQs .faq #faq-list {
    padding-left: 0;
  }
  .access .bg-black {
    max-width: 100%;
  }
  .access .contents {
    padding-top: 40px;
    width: 95%;
    z-index: 2;
    bottom: 600px;
    margin-bottom: -600px;
  }
  .access .contents h2 {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  .access .contents p {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .access .contents .btn {
    width: 95%;
    position: relative;
    top: 250px;
  }
  .access .contents .btn a {
    font-size: 1.8rem;
  }
  .access .iframe-wrap {
    position: relative;
    max-width: 100%;
    padding-top: 71.5%;
    /* = height ÷ width × 100 */
    bottom: 140px;
  }
  .access .iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #Contact {
    margin-top: 30px;
  }
  #Contact .inner-contents {
    max-width: 95%;
    padding: 40px 0;
  }
  #Contact .inner-contents .contents-header {
    padding: 0 0;
  }
  #Contact .inner-contents .contents-header h2 {
    padding-top: 32px;
    font-size: 3rem;
  }
  #Contact .inner-contents .contents-header p {
    font-size: 1.4rem;
    padding-bottom: 36px;
  }
  #Contact .inner-contents .contents-main {
    background-color: #ffffff;
    border-radius: 0 0 12px 12px;
    padding: 20px 0px 60px 0px;
  }
  #Contact .inner-contents .contact-form {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  #Contact .inner-contents .contact-form .contact-form-row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  #Contact .inner-contents .contact-form .contact-form-row .form-left p {
    display: inline;
  }
  #Contact .inner-contents .contact-form .contact-form-row .form-left span {
    font-size: 1.6rem;
    color: #ffffff;
    background-color: #ff4646;
    border-radius: 5px;
    padding: 2px 12px;
  }
  #Contact .inner-contents .contact-form .contact-form-row .form-left .name {
    margin-left: 96px;
  }
  #Contact .inner-contents .contact-form .contact-form-row .form-left .kana {
    margin-left: 52px;
  }
  #Contact .inner-contents .contact-form .contact-form-row .form-right {
    width: 80%;
    border-bottom: 1px solid #3e3e3e;
  }
  #Contact .inner-contents .contact-form .contact-form-row .form-right:hover {
    border-color: #4973ff;
    box-shadow: 0px 5px 20px -10px #4973ff;
  }
  #Contact .inner-contents .contact-form .contact-form-row .select,
  #Contact .inner-contents .contact-form .contact-form-row .check {
    border-bottom: none;
  }
  #Contact .inner-contents .contact-form .contact-form-row input {
    height: 30px;
    border: none;
    font-size: 2.2rem;
    width: 100%;
  }
  #Contact .inner-contents .contact-form .contact-form-row p,
  #Contact .inner-contents .contact-form .contact-form-row label {
    font-size: 2.2rem;
    color: #3e3e3e;
  }
  #Contact .inner-contents .contact-form .contact-form-row select {
    font-size: 1.8rem;
    color: #3e3e3e;
    width: 260px;
    padding-left: 20px;
  }
  #Contact .inner-contents .contact-form .contact-form-row select:hover {
    box-shadow: 0px 0px 1px 0.5px #4973ff;
  }
  #Contact .inner-contents .contact-form .contact-form-row input::-webkit-input-placeholder {
    font-size: 2.2rem;
    color: #3e3e3e;
    padding-left: 10px;
  }
  #Contact .inner-contents .contact-form .contact-form-row input::-webkit-input-placeholder::-moz-placeholder {
    font-size: 2.2rem;
    color: #3e3e3e;
    padding-left: 10px;
  }
  #Contact .inner-contents .contact-form .contact-form-row input::-webkit-input-placeholder::-moz-placeholder {
    font-size: 2.2rem;
    color: #3e3e3e;
    padding-left: 10px;
  }
  #Contact .inner-contents .contact-form .contact-form-row input::-webkit-input-placeholder::-ms-input-placeholder {
    font-size: 2.2rem;
    color: #3e3e3e;
    padding-left: 10px;
  }
  #Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test {
    display: none;
  }
  #Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.2em 0;
    padding: 0 0 0 1.2em;
    position: relative;
  }
  #Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span:hover::before {
    border: 1px solid #4973ff;
    box-shadow: 0px 0px 5px 1px #4973ff;
  }
  #Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span:active::before {
    border: 1px solid #4973ff;
    background-color: #b6c6fc;
  }
  #Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span::before {
    -webkit-transform: translateY(-50%);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    content: "";
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
  }
  #Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test + span::after {
    -webkit-transform: translateY(-50%);
    background: #4973ff;
    border: 1px solid transparent;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 4px;
    opacity: 0;
    padding: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 8px;
  }
  #Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test:checked + span::after {
    opacity: 1;
  }
  #Contact .inner-contents .contact-form .contact-form-row .radio-box .radio-test:first-of-type {
    margin-right: 60px;
  }
  #Contact .inner-contents .contact-form .contact-form-message p {
    font-size: 2.2rem;
    color: #3e3e3e;
  }
  #Contact .inner-contents .contact-form .contact-form-message textarea {
    font-size: 2.2rem;
    width: 100%;
  }
  #Contact .inner-contents .contact-form .contact-form-message textarea:hover {
    border: 1px solid #4973ff;
    box-shadow: 0px 0px 5px 1px #4973ff;
  }
  #Contact .inner-contents .contact-form .check-test {
    display: none;
  }
  #Contact .inner-contents .contact-form .check-test + span {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.2em 0;
    padding: 30px 0 30px 40px;
    position: relative;
    font-size: 1.8rem;
  }
  #Contact .inner-contents .contact-form .check-test + span:hover::before {
    border: 1px solid #4973ff;
    box-shadow: 0px 0px 5px 1px #4973ff;
  }
  #Contact .inner-contents .contact-form .check-test + span:active::before {
    border: 1px solid #4973ff;
    background-color: #b6c6fc;
  }
  #Contact .inner-contents .contact-form .check-test + span::before {
    -webkit-transform: translateY(-50%);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
  }
  #Contact .inner-contents .contact-form .check-test + span::after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    border-bottom: 3px solid #4973ff;
    border-left: 3px solid #4973ff;
    content: "";
    display: block;
    height: 0.6em;
    left: 0;
    margin-top: -0.2em;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: all 0.3s ease 0s;
    width: 1em;
  }
  #Contact .inner-contents .contact-form .check-test:checked + span::after {
    opacity: 1;
  }
  #Contact .inner-contents .contact-form .check-test label {
    font-size: 1.8rem;
    color: #3e3e3e;
  }
  #Contact .inner-contents .contact-form .btn {
    width: 80%;
  }
  #Contact .inner-contents .contact-form .btn a {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
  }
  #Contact .inner-contents .contact-form .btn:hover {
    background-color: #fd9105;
  }
  footer {
    padding: 0;
  }
  footer .contents {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  footer .contents .footer-left {
    width: 80%;
    margin: 0 auto;
  }
  footer .contents .footer-left i {
    margin-right: 0px;
  }
  footer .contents .footer-left p {
    font-size: 1.8rem;
    color: #fff;
    padding: 10px 0;
  }
  footer .contents .footer-left p:first-of-type {
    padding-top: 40px;
  }
  footer .contents .footer-left p:last-of-type {
    padding-bottom: 0px;
  }
  footer .contents .footer-right {
    text-align: center;
  }
  footer .contents .footer-right h4 {
    font-size: 3rem;
  }
}
